/laskarit/viikko2/Maksukortti/nbproject/private/private.xml
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/

.DS_Store
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/Unicafe/nbactions.xml

/MizzileKommand/target/
MizzileKommand/nb-configuration.xml
MizzileKommand/nbactions.xml
