/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/build/

.DS_Store
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/Unicafe/nbactions.xml
/laskarit/viikko2/Maksukortti/build.xml
/laskarit/viikko2/Maksukortti/manifest.mf

/MizzileKommand/target/
/MizzileKommand/nb-configuration.xml
/MizzileKommand/nbactions.xml
/MizzileKommand/nbproject/

/MizzileKommand/config.properties
/MizzileKommand/highscores.txt
/MizzileKommand/src/main/resources/config.properties
/MizzileKommand/src/main/resources/highscores.txt

